<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Add Category</title>

  <link rel="stylesheet" href="/home/admin.css">
 
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,100&display=swap" rel="stylesheet">
  <style>
    .nav-link-category{
    color: white;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: white;
  }
  </style>
  </head>

<body>

  <div class="welcome-msg">
    <p>Welcome to our store</p>
  </div>
  <nav>
    <div class="nav-1">
      
      <a href="/admin/admin_index" class="home-link">
        <h1 class="home-title-heading">Booksella</h1>
      </a>
      <a href="/login"> <img src="https://cdn-icons-png.flaticon.com/512/5509/5509597.png" alt="" class="user-icon"></a>

    </div>
    <div class="nav-2">
      <ul class="nav-link">
        <li><a href="/admin/admin_index">Home</a></li>
        <li><a href="/admin/products">Product</a></li>
        <li><a href="/admin/category" class="nav-link-category">Category</a></li>
         
       
      </ul>
    </div>
 
  </nav>
    
  <h4  id="error" ></h4>
  <% if (errors) {%>
    <% errors.forEach(function(error) { %>
    <div class="error-msg">
        <%= error.msg %>
    </div>
    <% });%>
<% }%>



  <div class="heading-container">
<h2 class="page-title">Add a category</h2>
<a href="/admin/category" class="btn btn-primary">Back to all categories</a>
<br><br>
</div>
<form method="post" action="/admin/category/add-category" name="myform"  onsubmit="return(validation())">
    
    <div class="categories-add-container">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    
    <button class="add_category_Submit">Submit</button>
</form>




<script>
  
  var error =document.getElementById('error')

   function validation(){
    let a= document.forms["myform"]["title"].value;
    let x=a.trim();
    let message1="Input box cannot be empty";
    let message2="Title should be less than 20 Character";
    if(x==""){
        error.style.display="inline-block";
        document.getElementById('error').innerHTML=message1;

        return false;

     }
     else if(x.length>20){
      error.style.display="inline-block";
        document.getElementById('error').innerHTML=message2;

        return false;
     }
     else{
      return true;
     }
    }

</script>