<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,100&display=swap"
        rel="stylesheet">

    <!--  <link rel="stylesheet" href="footer.css"> -->
    <style>
        .body {
            margin: 0
        }

        .table {
            margin: 10px;
            margin-top: 0px;
            margin-left: 260px;
            border: solid 0px;
            color: #ffffff;
            font-family: Georgia, serif;
            border-collapse: collapse;
           

        }

        
table tr td a:hover{
    color: rgb(8, 255, 255);
}
        table,
        tr,
        td,
        th {
            border: none;

        }
        table td,th{
            padding: 2px;
        }
        

        table tr td a {
            text-decoration: none;
            color: white
        }

        hr {
            border: 1px solid white;
        }
        table td{
            text-align: left;
        }
        hr{
            border-color: #ffffff;
            width: 90%;

        }
        .copyright{
            text-align: center;
            width: 100%;
            color: white;

        }
        
    </style>
</head>

<body>

    <div style="background-color:#4b4c4d;height:280px">
        <div class="table">
            <table >
                <tr>
                    <td><b>ABOUT</b></td>
                    
                    <td ><h5><b><a href="../index">HOME</a> </b></h5></td>
                    <td ><h5><b><a href="../profile">PROFILE</a></b></h5></td>
                    <td ><h5><b><a href="../contact">CONTACT US</a></b></h5></td>
                    <td ><h5><b><a href="../aboutus">ABOUT US</a></b></h5></td>
                    <td ><h5><b><a href="../privacypolicy">PRIVACY POLICY</a> </b></h5></td>

                </tr>

                <tr>
                    <td><i>

                            Welcome To Booksella
                            We're dedicated to providing you the best of 
                            <p>ecommerse, with a focus on dependability and book shopping</p>
                            <p> book store
                                . We will keep posting more important posts on my Website</p>
                            <p>for all of you.</p>
                           

                        </i></td>
                   

                </tr>
          

            </table>
           
           <!--  <p>&#169;</p> -->
          
        </div>
        <hr >
        <h4 class="copyright" >&#169; 2023 |  ALL RIGHTS RESERVED TO BOOKSELLA.</h4>
      
      <!--   <hr style="width: 70%;margin-left:180px;color: black;">
        <h6 style="text-align: center;margin-bottom: 5px;">PRIVACY POLICY</h6>
       
 -->

     
    </div>


</body>

</html>