<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home/email.css">
  <title>Change Password</title>
</head>
<body>
  
 <% if(variable != '') { %>
  <div class="error-msg">
    <strong></strong>
  </div>
  

  <% } %>
  <h4  id="error" ></h4>
  <h4  id="error1"></h4>
  <div class="login">

  <img src="/home/login-img.jpg" alt="">
  <div class="login-form change-pass-cont">
    <h1 class="login-heading">Change Password</h1>

 
  <form method="post" action="changePassword"  name="myform"  onsubmit="return(validation())">
    <p>
        <label class="change-pass-label">Enter New Password</label>
        <input type="text" name="password" required class="change-pass-input1">
    </p>
    <p>
        <label class="change-pass-label">Confirm New Password</label>
        <input type="text"  class="change-pass-input2" name="confpassword" required>
    </p>
    <p class="full">
        <button type="submit" class="change-pass-submit">Submit</button>
    </p>
</form>
</div>
</div>
  

<script type="text/javascript">
      var error =document.getElementById('error')
      var error1 =document.getElementById('error1')

 function validation(){
  let a=document.forms["myform"]["password"].value;
  let c=a.trim();

let b=document.forms["myform"]["confpassword"].value;
let d=b.trim();
let message5="Please enter password";
let message6="Password does not match";
let message7="Password length should be between 5 to 20 Character";
let errorcount=0;

if(c==""){
             error.style.display="block";
            document.getElementById('error').innerHTML=message5;

            errorcount++;
         }
        else if (c.length<=5 || c.length>20) {
           error.style.display="block";
           document.getElementById('error').innerHTML=message7;

          errorcount++;
        }
         else {
          error.style.display="none";
         }

         if (c!==d) {
          error1.style.display="block";
          document.getElementById('error1').innerHTML=message6;

          errorcount++;

        }
        else {
          error1.style.display="none";
        }

        if(errorcount==0){
          return true;
        }
        else {
          return false;
        }

 }

</script>
</body>
</html>