<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home/login.css">
  <title>OTP</title>
 
</head>
<body>

  <% if(variable != '') { %>
    <div class="error-msg">
      <strong>Wrong OTP </strong>
    </div>
   

    <% } %>
  <div class="login">

  <img src="/home/login-img.jpg" alt="">
  <div class="login-form">
    <h1 class="login-heading">Verify Email</h1>
  <form method="post" action="register-verify-otp">
    <p>
        <label>Enter otp</label>
        <input type="text" name="otp" required>

        <input type="text" value="<%= regname %>" name="regname"  style="display: none;">
        <input type="text" value="<%= regemail %>" name="regemail"  style="display: none;">
        <input type="text" value="<%= regnumber %>" name="regnumber"  style="display: none;">
        <input type="text" value="<%= regpassword %>" name="regpassword"  style="display: none;">

    </p>
    <p class="full">
        <button type="submit">Submit</button>
    </p>
</form>
<br>
<!--<form method="post" action="resend">
    <p class="full">
        <button type="submit">resend otp</button>
    </p>
</form>-->

</div>
</div>
  
</body>
</html>